
header {
  background-color:  rgba(245, 245, 245, 0.875);
  height: 10%;
}
  
 
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
nav li {
  margin-left: 20px;
}
  
nav li:first-child {
  margin-left: 0;
  margin-right: auto;
}
  
nav li a {
  color: #3a9fc3;
  padding: 14px 16px;
  text-decoration: none;
}
  
nav li a:hover {
  color: white;
  background-color: #3a9fc3;
  border-radius: 4px;
}
  
@media (max-width: 767px) {
  nav ul {
    flex-wrap: wrap;
  }
  
  nav li {
    margin: 0;
    width: 100%;
  }
  
  nav li:first-child {
    margin-right: 0;
  }
  
  nav li a {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
}

