.navbar {
    background-color: rgba(43, 43, 42, 0.875);
    height: 80%;
    margin-top: 10vh;
    margin-bottom: 10%;
    width: 10%;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .navbar li {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    list-style-type: none;
  }
  
  .navbar li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar li a:hover {
    color: #3a9fc3;
  }